[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]
autoflake = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-debugger = "*"
flake8-comprehensions = "*"
flake8-isort = "*"
flake8-logging-format = "*"
flake8-mutable = "*"
flake8-pep3101 = "*"
flake8-print = "*"
flake8-quotes = "*"
isort = "*"
mypy = "*"
pre-commit = "*"

[packages]
bitcoin = "*"

[requires]
python_version = "3.8"
